/* === Базові стилі === */
body {
    margin: 0; 
    padding: 0;
    background-color: #FFFFFF;
    font-family: sans-serif;
}

/* === Hero Section === */
.hero-section {
    width: 100%;
    height: 1020px;
    background-image: url('image1/mount.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}
